.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

bootstrap/
dist/
packages.json

homebase-cli/.venv/
homebase-cli/.pytest_cache/
homebase-cli/build/
homebase-cli/dist/
homebase-cli/bootstrap/
homebase-cli/src/homebase_cli.egg-info/
homebase-cli/src/homebase_cli/__pycache__/
homebase-cli/tests/__pycache__/

*.log
